body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin-top: 70px;
}
main{

    color: rgb(0, 0, 0);
}
header{
    position: fixed;  /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    width: 100%;  /* Cabeçalho ocupa 100% da largura */
    z-index: 1000;  /* Fica acima de outros elementos */
    background: linear-gradient(to right,#000000, #5e5e5e);/* Gradiente de fundo */
    color: rgb(255, 255, 255);
    padding-top: 10px;
    box-sizing: border-box;  /* Garante que o padding seja incluído no cálculo da largur*/
}

.text-light{
    color: rgb(0, 0, 0);
}
.navbar-nav .nav-link {
    text-decoration: none;  /* Remove o sublinhado de todos os links no navbar */
  }
.custom-bg{
    background: linear-gradient(to right,#000000, #5e5e5e);
    color: rgb(255, 255, 255);
    
}
.img_logo{
    border-radius: 10px;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 2s ease-in-out forwards; /* Chama a animação */ 
}
.letras{
    font-family: Arial, Helvetica, sans-serif;
    animation: text-fade-in 2s ease-in-out;
}
@keyframes text-fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Move o texto para baixo no início */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Texto em posição normal no final */
    }
  }
  .img{
    width: 350px;
    margin: 18px;
    border-radius: 10px;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 3.5s ease-in-out forwards; /* Chama a animação */ 
  }
  .letra_main{
        font-size: 3rem;
        white-space: nowrap; /* Impede quebras de linha */
        animation: text-slide-in 2s ease-out;
        font-size: 25px;
        text-align: center;
  }
  @keyframes text-slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%); /* Começa fora da tela à esquerda */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Termina na posição inicial */
    }
  }
  .cultos{
    margin: 10px;
    opacity: 0;  /* Inicialmente, os itens estão invisíveis */
    transform: translateX(-100%);  /* Inicialmente, os itens estão fora da tela à esquerda */
    animation: slideIn 2s ease-out forwards;  /* Aplica a animação */
  }
  @keyframes slideIn {
    0% {
        opacity: 0;  /* Começa invisível */
        transform: translateX(-100%);  /* Começa fora da tela à esquerda */
    }
    100% {
        opacity: 1;  /* Fica totalmente visível */
        transform: translateX(0);  /* Termina na posição original (à direita) */
    }
    
}
.descricao{
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.6;
    animation: slideIn 2s ease-out forwards;  /* Aplica a animação */
}
@keyframes fadeIn {
    from {
        opacity: 0; /* Começa invisível */
    }
    to {
        opacity: 1; /* Fica totalmente visível */
    }
}

.img_pr_presidente{
    width: 200px;
    margin-left: 102px;
    border-radius: 8px;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 2s ease-in-out forwards; /* Chama a animação */ 
}
.img_pr_setorial{
    width: 400px;
    margin-left: 5px;
    border-radius: 10px;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 2s ease-in-out forwards; /* Chama a animação */  
}
.letras_pr{
    margin: 10px;
    animation: slideIn 2s ease-out forwards;
    text-align: center;
}
footer{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: -10px;
    background: linear-gradient(to right,#000000, #5e5e5e);
}


